<hr>
<h2>Bulk Discount ID: <%= @bk_discount.id %></h2>
<p>Percent Discount: %<%= @bk_discount.discount %></p>
<p>Quantity Threshold: <%= @bk_discount.quantity_threshold %> items</p>
<p><%= link_to "Update this Bulk Discount", edit_merchant_bulk_discount_path(@merchant, @bk_discount) %></p>